body{
  margin:0;
  font-size:16px;
  font-family:Verdana, sans-serif;
  color:#333
}
header{
  background:orange;
  color:#fff;
  text-align:center;
  padding-top:64px;

}


header h1,
header p {
  margin:0;

}
header img {
width:280px;
vertical-align:bottom;
}

.btn{
  text-decoration:none;
  background:#fff;
  color:#f59a00;
  display:block;
  width:140px;
  line-height:44px;
  margin:40px auto 48px ;
font-size:14px;
font-weight: bold;
border-radius:4px;

}
   .btn:hover{
     opacity:0.9;
   }
.features img{
  width:100%;
}
.features>h1{
  text-align:center;
  padding:64px 0;
  font-size:normal;
}

.features .container{
  margin:0 32px;
}

.features p{
  line-height:1.8;
}
.features section{
padding-bottom:64px
}
.menbers{
  background:#f2f2f3;

}
.menbers h1{
  text-align:center;
  padding:64px 0;
  font-size:normal;
}
.menbers ul{
  list-style:none;
  text-align:center;
  margin:0px;
  padding:0px;
}
.menbers img{
  width:160px;
  border-radius: 50px;
}

.menbers h2{
  font-size:20px;
}
.menbers li{
  padding-bottom: 64px;
}
.call-to-action{
  background:#f59a00;
  color:#fff;
  text-align:center;
  padding:64px 0;

}
.call-to-action h1{
  font-weight: normal;
  margin: 0 ,auto;
  text-align:center;
}

footer{
  padding:64px 0;
  background:#323135;
  color:#98969c;
  text-align:center; 
}

.recomend h1{
  text-align:center;
}
.recomend ul{
    list-style:none;
    text-align:center;
    margin:0px;
    padding:0px;
    
  }
  .recomend :hover{
    opacity:0.9;
  }
.recomend img{
  width:250px;

}

body >.ad img{
  width:300px;
}
@media (min-width:900px){
  header .container{
    display: flex;
    width:800px;
    margin:0 auto;

  }
  header .info{
    width:60%;
    align-self: center;
  }
  header .pic{
    width:40%;

  }


  .features .container{
    width:800px;
    margin:0 auto;
  }
  .features section{
    display:flex;
    justify-content: space-between;
  }
.features section:nth-child(even){
  flex-direction:row-reverse;
}


  .features .pic{
    width:50%;
  }
  .features .info{
    width: calc(50% - 32px);
  }




.menbers ul{
  width:800px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}
.menbers li{
  width:250px;
}
.recomend ul{
  width:800px;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
}
.recomend li{
  width:250px;
}
li .pic1{
  width:30%;
}
li .pic2{
  width:30%;
}
li .pic3{
  width:30%;
}




}
